.chart-box {
    position: relative;
    width: 100%;
    height: 400px;
    margin: auto;

    display: flex;
    align-items: center;      /* tengah vertikal */
    justify-content: center;  /* tengah horizontal */
}
